.label {
  float: left;
  width: 31.5%;
  text-align: right;
  color: #555;
  padding-top: 1.8px;
}

.arealabel {
  padding-top: 2.8px;
}

.link {
  color: #0089ff;
  border-bottom: 1px dashed rgba(0,137,255,.3);
  cursor: pointer;
}

.button {
  font-weight: 700;
}

.warning {
  padding-left: 5px;
  vertical-align: middle;
}

.input {
  padding: 3.4px 0px;
}

.field {
  margin: 0 0 1em 33.2%;
}

.main{
  display: table;
  width: 100%;
}

.left {
  background: #F5F5EA;
  display: table-cell;
  width: 55%;
}
